.skill-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: .5vmin dashed rgb(0, 13, 254);
    width: 60%;
    padding-left: 1vw;
    padding-right: 1vw;
    color: blue;
}

.level {
    border:1px solid blue;
    padding: .5vh 1.5vw .5vh 1.5vw;
    border-radius: 10vmin;
    background-color: blue;
    color: white;
    
}